.treeDisplay {
  max-width: 100%;
  padding: 1em;
  padding-top: 250px;
  text-align: center;
  user-select: none;
  background: url(../../images/dirt.jpg);
  background-size: 100% 100%;

  padding-left: 200px;
  padding-bottom: 150px;
  border-radius: 5em;
  border: 5px solid black;

  /* Disable the fancy background on smaller screens */
  @media (max-width: 950px) {
    padding-top: 1em;
    background: tan;
  }
}

.treeStump {
  clip-path: inset(80% 0 0 0);
}
