.unit {
  font-family: Arimo, monospace;
  display: inline-flex;
  flex-direction: column;
}
.primaryUnit {
  text-transform: lowercase;
  font-variant: small-caps;
}
.subUnit {
  font-size: 0.5em;
  margin-top: -0.5em;
  margin-left: auto;
}
